/* General Styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, rgb(106, 17, 203), rgb(37, 117, 252));
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login Container Styles */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.otp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Login Form Styles */
.login-form {
    width: 100%;
}

/* Heading Styles */
.login-form h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333333;
}

/* Paragraph Styles */
.login-form p {
    margin-bottom: 20px;
    color: #555555;
}

/* Form Label Styles */
.login-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555555;
}

/* Input Field Styles */
.login-form input[type="text"],
.login-form input[type="tel"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 15px;
}

/* Submit Button Styles */
.login-form input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    width: 96%;
}

.login-form input[type="submit"]:hover {
    background-color: #0056b3;
}

#up-btn{
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    width: 96%;

}